@page "/exemple1"

<h1>Chargement d'un composant par sa balise</h1>
<h4>Qu'il s'agisse d'une page</h4>
<Counter />

<!-- Commentaire HTML (il est rendu) -->

@* Commentaire Blazor (il n'est rendu) *@

<h4>Qu'il s'agisse d'une page ou d'un composant simple</h4>
<Demo1 />

